

.search-form{
    display:flex;
    flex-direction: column;
    gap: 0.5rem;
}
.search-form label{
    font-size: 1.3rem;
}
.search-form input{
    font-size: 1.6rem;
    padding: 0.5rem 2rem;
    line-height: 2.8rem;
    border-radius: 20px;
    border: 1px solid #ddd;
}

.search-form button{
    background-color: rgba(0,0,0,0.75);
    color: white;
    padding: 1rem 2rem;
    border: 1px solid rgba(0,0,0,0.75);
    border-radius: 20px;
    font-size: 1.4rem;
    cursor: pointer;
    transition: background-color 250ms;
}
.search-form button:hover {
    background-color: rgba(0,0,0,0.85);
}

.poster-card{
    display: flex;
    flex-direction: column;
    width: 30rem;
    margin-bottom: 1rem;
}
@media (min-width:786px){
    .search-form{
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .search-form label{
        font-size: 1.5rem;
    }
    .search-form input{
        min-width: 45rem;
    }
    .search-form button{
        padding:1rem 3rem
    }
}

